.ian {
    background-color: rgb(177, 16, 67);
}


.footerStyle {
  background-Color: "#222";
  color: "#fff";
  padding: "20px 0";
  margin-Top: "40px";
};

.containerStyle {
  text-Align: "center";
  font-Size: "14px";
};